---
import fs from "fs";
import matter from "gray-matter";

import reveal from "reveal.js/dist/reveal.css?inline";
import revealBlack from "reveal.js/dist/theme/black.css?inline";

const { title, description, file } = Astro.props.frontmatter;

const unparsedFile = fs.readFileSync(file, "utf8");
const { content } = matter(unparsedFile);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="icon" href="/favicon.ico" />

    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style set:html={reveal} />
    <style set:html={revealBlack} />

    <title>{title}</title>
  </head>

  <body>
    <div class="reveal">
      <div class="slides" set:html={content} />
    </div>

    <script>
      import Reveal from "reveal.js";
      import RevealZoom from "reveal.js/plugin/zoom/zoom";
      import RevealNotes from "reveal.js/plugin/notes/notes";
      import RevealSearch from "reveal.js/plugin/search/search";
      import RevealMarkdown from "reveal.js/plugin/markdown/markdown";
      import RevealHighlight from "reveal.js/plugin/highlight/highlight";

      Reveal.initialize({
        plugins: [
          RevealZoom,
          RevealNotes,
          RevealSearch,
          RevealMarkdown,
          RevealHighlight,
        ],
      });
    </script>
  </body>
</html>
