---
export interface Props {
  title: string;
  description: string;
  ogImage?: string;
  ogUrl?: string;
}

import "@fontsource/poppins";
import "@fontsource/play/700.css";

import { Image } from "astro:assets";

import { Navbar } from "@/components/Navbar";

import { Footer } from "@/components/Footer";

import logoEskul from "@/assets/img/hinode.png";

const { title, description, ogImage, ogUrl } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content={description} />

    {ogImage && (
      <meta property="og:title" content={title} />
      <meta property="og:description" content={description} />
      <meta property="og:type" content="website" />
      <meta property="og:image" content={`${Astro.site}ogs${ogImage}`} />
      <meta property="og:url" content={`${Astro.site}${!ogUrl ? "" : ogUrl}`} />
    )}

    <script is:inline>
    const setDarkMode = () => {
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    };

    setDarkMode();
    </script>

    <title>{title}</title>
  </head>
  <body class="font-poppins dark:bg-neutral-900 dark:text-neutral-200">
    <Navbar client:load>
      <Image src={logoEskul} width="40" alt="Logo ekstrakurikuler hinode" />
    </Navbar>

    <slot />

    <Footer />
  </body>
</html>
